<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bkbiswas.shohojbibaho">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".First_Page">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Log_in"
            android:label="@string/title_activity_log_in"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".Homepage" />
        <activity android:name=".Registration" />
        <activity android:name=".CarRegister" />
        <activity android:name=".ConventionRegistration" />
        <activity android:name=".CateringRegister" />
        <activity android:name=".CarFind" />
        <activity android:name=".ConventionFind" />
        <activity android:name=".CateringFind" />
        <activity android:name=".Successfull" />
        <activity android:name=".Profile" />
        <activity android:name=".Registration3" />
        <activity android:name=".CarFind2" />
        <activity android:name=".EditProfile" />
        <activity android:name=".CateringFind2" />
        <activity android:name=".ConventionFind2" />

        <service android:name=".FcmService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".PartnerFind2" />
        <activity android:name=".ForgotPassword"></activity>
    </application>

</manifest>